<div class="row" cg-busy="promise">

    <div>
        <button ui-sref="root.dashboard" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>

    <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h3 class="panel-title">Revenues</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-6 form-group">
                    <form ng-submit="search(1)">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by Description" ng-model="searchRequest.Keyword" required="required" ng-change="reload()">
                            <span type="submit" class="input-group-addon"><a style="cursor: pointer; text-decoration: none" class="glyphicon glyphicon-search btn-floating" ng-click="search(1)"></a></span>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 form-group">
                    <form ng-submit="search(2)">
                        <div class="input-group">
                            <input type="date" class="form-control" placeholder="Search by Description" ng-model="searchRequest.StartDate" required="required">
                            <span class="input-group-addon"><a style="cursor: pointer; text-decoration: none" class="glyphicon glyphicon-search btn-floating" ng-click="search(2)"></a></span>
                            <span class="input-group-addon"><a style="cursor: pointer; text-decoration: none" class="glyphicon glyphicon-refresh btn-floating" ng-click="reset()"></a></span>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Table -->
            <div id="no-more-tables">
                <table class="table table-responsive table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th class="text-center"><span class="glyphicon glyphicon-asterisk"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="l in list track by $index">
                            <td ng-show="false">{{l.Id}}</td>
                            <td data-title="SL: ">{{$index + 1}}</td>
                            <td data-title="Date: ">{{l.Created | date: 'dd MMMM yyyy'}}</td>
                            <td data-title="Description: ">{{l.Description}}</td>
                            <td data-title="Amount: ">{{l.Amount}}</td>
                            <td data-title="Option: " class="col-sm-1">
                                <a class="glyphicon glyphicon-edit" style="cursor: pointer;" ng-click="edit(l.Id)"></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="glyphicon glyphicon-trash" style="cursor: pointer;" ng-click="remove('', l, 'delete')"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            

            <div class="panel-footer">

            </div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add Expense</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="save()">

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Description :</label>
                            <input type="text" class="form-control" ng-model="model.Description" required="required" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Amount :</label>
                            <input type="text" class="form-control" ng-model="model.Amount" required="required"/>
                        </div>
                        
                    </div>


                    <button type="submit" ng-show="!isUpdateMode" class="btn btn-floating btn-info">Save</button>
                    <button type="submit" ng-show="isUpdateMode" class="btn btn-floating btn-info">Update</button>

                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>        
</div>

<script>
    $(function() {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>