<div class="row" cg-busy="promise">

    <div>
        <button ui-sref="root.dashboard" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>

    <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-info">

            <div class="panel-heading">
                <h3 class="panel-title">Case Details</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Case No: </label>
                        <span>{{model.CaseNo}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Customer: </label>
                        <span><a ui-sref="root.customer.detail({id: customer.Id})">{{customer.Name}}</a></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Brand: </label>
                        <span>{{model.Brand}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Model: </label>
                        <span>{{model.Model}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Capacity: </label>
                        <span>{{model.Capacity}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Interface Type: </label>
                        <span>{{model.InterfaceType}}</span>
                    </div>
                </div>
                <div class="col-sm-4">                                        
                    <div class="form-group">
                        <label class="control-label">SL: </label>
                        <span>{{model.Sl}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Note: </label>
                        <span>{{model.Note}}</span>
                    </div>
                    <div class="form-group text-info">
                        <label class="control-label">Status: </label>
                        <span>{{model.Status}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Required Data: </label>
                        <span>{{model.RequiredData}}</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Backup HDD: </label>
                        <span>{{model.BackupHdd}}</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <form ng-submit="update()">
                        <div class="form-group">
                            <label class="control-label">Total Cost: </label>
                            <input type="number" class="form-control" required="required" ng-model="model.TotalCost" ng-disabled="isDisabled"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Discount (%): </label>
                            <input type="number" class="form-control"  required="required" ng-model="model.DiscountPercent" ng-disabled="isDisabled" />
                        </div>
                        <button type="submit" class="btn btn-group btn-group-justified btn-default" ng-disabled="isDisabled"><span class="glyphicon glyphicon-arrow-right"></span> Update <span class="glyphicon glyphicon-pencil"></span></button>
                    </form>
                </div>                
            </div>
                       
            

            <div class="panel-body">
                <div class="col-sm-4 col-xs-12">
                    <button type="button" ui-sref="root.case.edit({id: model.Id})" class="btn btn-default pull-left" ng-disabled="isDisabled"><span class="glyphicon glyphicon-edit"></span> Edit</button>                    
                    <br class="visible-xs"/>
                    <br class="visible-xs"/>
                    <br class="visible-xs"/>
                </div>
                <div class="col-sm-4">
                    <button ng-show="model.Status == 'Canceled'" type="button" class="btn btn-warning pull-left" ng-click="changeStatus('', '', 'changed to next Approved', 0, 1)">Approved Again</button>                    
                </div>
                <div class="col-sm-4 col-xs-12">
                    <br class="visible-xs" />
                    <button class="btn btn-danger" ng-click="changeStatus('', '', 'move to canceled', 1)" ng-disabled="isDisabled">Cancel <span class="glyphicon glyphicon-off"></span></button>
                    <button class="btn btn-info pull-right" ng-click="changeStatus('', '', 'changed to next', 0, 0)" ng-disabled="isDisabled">{{NextStatus}} <span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>

            <div class="panel-body">
                <div class="col-sm-12">
                    <!-- Table -->
                    <table class="table table-responsive table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th class="text-right">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="l in caseLog track by $index">
                            <td>{{l.Status}}</td>
                            <td class="text-right">{{l.Created | date : 'dd MMMM yyyy'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-footer">

            </div>
        </div>
    </div>


    <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add Payment</h3>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" ng-submit="add()">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Amount :</label>
                            <input type="text" class="form-control" ng-model="payment.Amount" required="required"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Fees Type: </label>
                            <select class="form-control" ng-model="payment.FeesType" required="required">
                                <option value=""></option>
                                <option value="Analysis Fee">Analysis Fee</option>
                                <option value="Recovery Fee">Recovery Fee</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <button type="submit" ng-show="!isUpdateMode" class="btn btn-floating btn-info">Save</button>
                            <button type="submit" ng-show="isUpdateMode" class="btn btn-floating btn-info">Update</button>
                        </div>
                    </div>
                </form>


                <div class="form-group">
                    <table class="table table-condensed">
                        <tr>
                            <th>Total Cost:</th>
                            <td class="text-right">{{model.TotalCost}}</td>
                        </tr>
                        <tr>
                            <th>Discount ({{model.DiscountPercent}} %):</th>
                            <td class="text-right">{{model.DiscountAmount}}</td>
                        </tr>
                        <tr class="text-primary">
                            <th>Paid:</th>
                            <td class="text-right">{{model.PaidAmount}}</td>
                        </tr>
                        <tr class="text-danger">
                            <th>Due:</th>
                            <td class="text-right">{{model.DueAmount}}</td>
                        </tr>
                    </table>
                </div>

                <br/>
                <h5 class="visible-xs">Payment History:</h5>
                <div class="form-group" id="no-more-tables">
                    <!-- Table -->
                    <table class="table table-responsive table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="l in payments track by $index">
                                <td ng-show="false">{{l.Id}}</td>
                                <td data-title="Date: ">{{l.PaymentDate | date : 'dd MMMM yyyy'}}</td>
                                <td data-title="Amount: ">{{l.Amount}} ({{l.FeesType}})</td>
                                <td data-title="Option" class="text-right">
                                    <a class="glyphicon glyphicon-edit" style="cursor: pointer;" ng-click="edit(l.Id)"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="glyphicon glyphicon-trash" style="cursor: pointer;" ng-click="remove('', l, 'delete')"></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="glyphicon glyphicon-print" style="cursor: pointer;" ng-click="print('', l, 'print')"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>


</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>