<div class="nav navbar navbar-fixed-bottom" style="background: #218257; color: white; margin-bottom: -1px">
    
    <footer>
        <div class="container-fluid" ng-controller="AppController">
            <p style="padding-top: 13px">
                <span class="pull-left">
                    &copy; {{copyright | date: 'yyyy'}},
                    <a target="_blank" href="http://www.datacrud.com" style="color: white; text-decoration: underline;" class="text-uppercase">Data Crud</a>
                    <!--<a target="_blank" href="http://www.codecoopers.com" style="color: white; text-decoration: underline;" class="text-uppercase">Code Coopers</a>-->
                </span>
                

                <span> &nbsp; All Rights Reserved.</span>
                <span class="pull-right">{{version}}</span>
            </p>
        </div>
    </footer>
</div>