<style>
    .navbar-default {
        background-color: #218257 !important;
    }

    .navbar-brand, .navbar-nav > a {
        color: white !important;
    }
    .navbar .navbar-nav li a {
        color: white;
    }
    .navbar .container-fluid {
        padding-left: 35px;
        padding-right: 35px;
    }
</style>

<nav class="nav navbar navbar-fixed-top navbar-default" ng-controller="AppController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only" >Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" ng-href="#/">DRS</a>
            <a class="navbar-brand visible-sm visible-md visible-lg" ng-href="#/">Data Recovery Station</a>
            <!--<a class="navbar-brand visible-xs" ng-href="#/">CM</a>
            <a class="navbar-brand visible-sm visible-md visible-lg" ng-href="#/">Customer Management</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li ui-sref-active="active"><a ui-sref="root.dashboard">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="root.about">About</a></li>
                <li ui-sref-active="active"><a ui-sref="root.contact">Contact</a></li>-->
                <!--<li ng-class="{active: $state.includes('students')}"><a ui-sref="students.list">Student</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="!isLoggedIn">
                <li ng-show="!isLoggedIn"><a ui-sref="root.login">Sign in</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right" ng-show="isLoggedIn">
                <li class="dropdown">
                    <a href="javascript:(void)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.FirstName}} {{user.LastName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="root.profile">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-show="isLoggedIn" style="cursor: pointer"><a ng-click="logout()">Sign out</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:(void)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-large"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-show="isAdminUser || isSystemAdminUser" ui-sref-active="active"><a ui-sref="root.user">Manage User</a></li>
                        <li ng-show="isSystemAdminUser" role="separator" class="divider"></li>
                        <li ng-show="isSystemAdminUser" ui-sref-active="active"><a ui-sref="root.role">Manage Role</a></li>
                        <li ng-show="isSystemAdminUser" ui-sref-active="active"><a ui-sref="root.resource">Manage Resource</a></li>
                        <li ng-show="isSystemAdminUser" ui-sref-active="active"><a ui-sref="root.permission">Manage Permission</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>