<div class="row">

    <div>
        <button ui-sref="root.dashboard" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="Back"><span class="glyphicon glyphicon-arrow-left"></span></button>
    </div>    

    <div class="col col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Resources</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form ng-submit="search()">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by Role Name" ng-model="search.key" required="required">
                            <span type="submit" class="input-group-addon"><a style="cursor: pointer; text-decoration: none" class="glyphicon glyphicon-search btn-floating" ng-click="search()"></a></span>
                        </div>
                    </form>
                </div>

                <div class="text-center">
                    <span ng-show="selectedRole" class="text-center">Modified Permission for <strong>{{selectedRole.Name}}</strong> Role</span>
                </div>
                <br/>

                <!-- Table -->
                <table class="table table-responsive table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Route</th>
                        <th>Public</th>
                        <th>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" ng-click="checkAll()">Check All</a>
                                <a class="btn btn-primary" ng-click="uncheckAll()">Uncheck All</a>
                            </div>
                        </th>
                        <!--<th></th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in resources track by $index">
                        <td ng-show="false">{{l.Id}}</td>
                        <td>{{$index + 1}}</td>
                        <td>{{r.Name}}</td>
                        <td>{{r.Route}}</td>
                        <td>{{r.IsPublic}}</td>
                        <td>
                            <!--<input type="checkbox" class="checkbox" ng-click="toggleSelection(r)" ng-checked="selection.indexOf(r) > -1"/>-->
                            <input type="checkbox" data-checklist-model="permission.Resources" data-checklist-value="r">
                        </td>
                    </tr>
                    </tbody>
                </table>                
                <button class="btn btn-info pull-right" ng-click="save()">Save</button>
            </div>
            
            <div class="panel-footer">                
            </div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Roles</h3>
            </div>
            <div class="panel-body">
                <!-- Table -->
                <table class="table table-responsive table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in roles track by $index" style="cursor: pointer" ng-click="loadRolePermissions(r)">
                            <td ng-show="false">{{r.Id}}</td>
                            <td>{{$index + 1}}</td>
                            <td>{{r.Name}}</td>
                            <!--<td>
                                <a class="glyphicon glyphicon-edit" style="cursor: pointer;" ng-click="loadRolePermissions(r)"></a>
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>    

        
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>